<link href="/js/bootstrap.js" rel="stylesheet">
<div id='social-sidebar'>
			<ul>
				<li>
					<a class='entypo-facebook' href='https://www.facebook.com/pages/Techline/220448098165600' target='_blank'>
						<span>Facebook</span>
					</a>
				</li>
				<li>
					<a class='entypo-twitter' href='https://twitter.com/TechlineTV' target='_blank'>
						<span>Twitter</span>
					</a>
				</li>
				<li>
					<a class='entypo-gplus' href='https://plus.google.com/u/0/b/105421604287853678715/105421604287853678715/about' target='_blank'>
						<span>google+</span>
					</a>
				</li>
				<li>
					<a class='entypo-play' href='https://www.youtube.com/channel/UCE0QTk_uhZ6GcbSlhibZQdg' target='_blank'>
						<span>YouTube</span>
					</a>
				</li>
				<li>
					<a class='entypo-github' href='https://github.com/Techlinecode' target='_blank'>
						<span>Github</span>
					</a>
				</li>

			</ul>
		</div>
<style type='text/css'>
/*<![CDATA[*/
@charset "utf-8";
/* CSS Document */
/* ---------- ENTYPO ---------- *//* ---------- Digital Hub Inc : http://www.digitalhubinc.com/---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}
/* ---------- GENERAL ---------- */
#social-sidebar a { text-decoration: none; }
#social-sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* ---------- Social Sidebar ---------- */
#social-sidebar {
	left: 0;
	margin-top: -75px; /* (li * a:width) / -2 */
	position: fixed;
	top: 50%;
}
#social-sidebar ul li:first-child a { border-radius: 0 5px 0 0; }
#social-sidebar ul li:last-child a { border-radius: 0 0 5px 0; }
#social-sidebar ul li a {
	background: #5e5e5e;
	color: #fff;
	display: block;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 50px;
}
#social-sidebar ul li a:hover span {
	left: 130%;
	opacity: 1;
}
#social-sidebar ul li a span {
	border-radius: 3px;
	line-height: 24px;
	left: -100%;
	margin-top: -16px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	-webkit-transition: opacity .3s, left .4s;
	-moz-transition: opacity .3s, left .4s;
	-ms-transition: opacity .3s, left .4s;
	-o-transition: opacity .3s, left .4s;
	transition: opacity .3s, left .4s;
	top: 50%;
	z-index: -1;
}
#social-sidebar ul li a span:before {
	content: "";
	display: block;
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
	z-index: -2;
}
#social-sidebar ul li a[class*="twitter"]:hover,
#social-sidebar ul li a[class*="twitter"] span,
#social-sidebar ul li a[class*="twitter"] span:before { background: #6CDFEA; }
#social-sidebar ul li a[class*="gplus"]:hover,
#social-sidebar ul li a[class*="gplus"] span,
#social-sidebar ul li a[class*="gplus"] span:before { background: #E34429; }
#social-sidebar ul li a[class*="facebook"]:hover,
#social-sidebar ul li a[class*="facebook"] span,
#social-sidebar ul li a[class*="facebook"] span:before { background: #234999; }
#social-sidebar ul li a[class*="github"]:hover,
#social-sidebar ul li a[class*="github"] span,
#social-sidebar ul li a[class*="github"] span:before { background: #8a1fd6; }
#social-sidebar ul li a[class*="play"]:hover,
#social-sidebar ul li a[class*="play"] span,
#social-sidebar ul li a[class*="play"] span:before { background: #f50b0b; }
/*]]>*/
</style>
